<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.optim.launchd.atrun</string>
	<key>Program</key>
	<string>/usr/libexec/atrun</string>
	<key>StartInterval</key>
	<integer>5000</integer>
	<key>WorkingDirectory</key>
	<string>/var/log</string>
</dict>
</plist>
