<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.lighttpd</string>
	<key>OnDemand</key>
	<false/>
	<key>Program</key>
	<string>/opt/local/sbin/lighttpd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/local/sbin/lighttpd</string>
		<string>-f/opt/local/etc/lighttpd.conf</string>
		<string>-D</string>
	</array>
</dict>
</plist>