<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.
com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>random</string>
        <key>Program</key>
        <string>/etc/launchd/scripts/random.sh</string>
        <key>ProgramArguments</key>
        <array>
                <string>/etc/launchd/scripts/random.sh</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>Disabled</key>
        <true/>
</dict>
</plist>
